// Color scheme options
    // option 1
    $option1-color-primary: #3A74B7;
    $option1-color-pale: #7FA8D7;
    $option1-color-paler: #DCE7F4;
    $option1-color-dark: #214269;
    $option1-color-darker: #102034;
    $option1-color-grey: #616161;

$color-black-transparent: rgba(0, 0, 0, 0.5);

// TODO Set nicer-looking fonts
$body-font: Courier;
$header-font: Helvetica;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $option1-color-primary;
}

header {
    h1 {
        color: $option1-color-pale;
    }
    h2 {
        color: $option1-color-paler;
    }
    p {
        margin-top:auto;
        margin-bottom: auto;
    }
}

.jumbotron {
    margin: 0;
    padding: 10px;
    // background-color: $option1-color-paler;
    background-image: linear-gradient(to right, $option1-color-darker, $option1-color-primary, $option1-color-paler);
    color: $option1-color-dark;
}

.bg-frf-dark {
    background-color: $option1-color-dark;
};

footer {
    width: 100%;
    background-color: $option1-color-darker;
    color: $option1-color-pale;
    a {
        color: $option1-color-pale;
        text-decoration: underline;
    }
    p, a {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.frf-list-item {
    border-bottom: 2px dashed;
    border-color: $option1-color-pale;
}

.navbar {
    background-color: $option1-color-primary;
}

.frf-add-client-btn {
    background-color: $option1-color-dark;
    color: $option1-color-pale;
    border-color: $option1-color-pale
}

.frf-search-btn:hover {
    color: $option1-color-primary;
    background-color: white;
}

.frf-add-client-btn:hover {
    color: $option1-color-dark;
    background-color: white;
}

.thead-frf-dark, .thead-frf-dark th {
    background-color: $option1-color-dark;
    color: $option1-color-pale;
    border: none;
}









// BUG The stuff below is just for testing purposes. Please delete as soon as it becomes unnecessary
$color-test: #C13427;

.frf-temp-navbar {
    background-color: $color-test;
};