body {
  font-family: Courier; }

h1, h2, h3 {
  font-family: Helvetica; }

h2 {
  color: #347b98; }

header h2 {
  color: #E3F7D4; }

.jumbotron {
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(to right, #0247FE, #347b98, #091534);
  color: white; }

.row-content {
  padding: 20px 0;
  border-bottom: 1px ridge;
  min-height: 10px; }

.navbar {
  background-color: #66B032; }

.frf-add-client-btn {
  background-color: #0247FE;
  color: #E3F7D4;
  border-color: #E3F7D4; }

footer {
  width: 100%;
  background-color: #347b98;
  color: rgba(0, 0, 0, 0.5); }
  footer a {
    color: #E3F7D4;
    text-decoration: underline; }
