$color-primary: #347b98;
$color-secondary: #0247FE;
$color-pale: #E3F7D4;
$color-mid: #66B032;
$color-dark: #091534;

$color-black-transparent: rgba(0, 0, 0, 0.5);

// TODO Set nicer-looking fonts
$body-font: Courier;
$header-font: Helvetica;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {
    h2 {
        color: $color-pale;
    }
    p {
        margin-top:auto;
        margin-bottom: auto;
    }
}

.jumbotron {
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}

.frf-list-item {
    // padding: 20px 0;
    border-bottom: 1px dashed;
    border-color: $color-mid;
    // min-height: 10px;
}

.navbar {
    background-color: $color-mid;
}

.frf-add-client-btn {
    background-color: $color-secondary;
    color: $color-pale;
    border-color: $color-pale;
}

footer {
    width: 100%;
    background-color: $color-primary;
    color: $color-pale;
    a {
        color: $color-pale;
        text-decoration: underline;
    }
    p, a {
        margin-top: auto;
        margin-bottom: auto;
    }
}

