// TODO change color scheme to something nicer looking
    // Take a look at the Triadic color scheme option in W3schools
$color-primary: #347b98;
$color-secondary: #0247FE;
$color-pale: #E3F7D4;
$color-mid: #66B032;
$color-dark: #091534;

$color-black-transparent: rgba(0, 0, 0, 0.5);

// TODO Set nicer-looking fonts
$body-font: Courier;
$header-font: Helvetica;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {
    h2 {
        color: $color-pale;
    }
    p {
        margin-top:auto;
        margin-bottom: auto;
    }
}

footer {
    width: 100%;
    background-color: $color-primary;
    color: $color-pale;
    a {
        color: $color-pale;
        text-decoration: underline;
    }
    p, a {
        margin-top: auto;
        margin-bottom: auto;
    }
}


.jumbotron {
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}

.frf-list-item {
    border-bottom: 1px dashed;
    border-color: $color-mid;
}

.navbar {
    background-color: $color-mid;
}

.frf-add-client-btn {
    background-color: $color-secondary;
    color: $color-pale;
    border-color: $color-pale;
}


.frf-add-client-btn:hover {
    color: $color-secondary;
    background-color: white;
}

.frf-table-bordered th, .frf-table-bordered td {
    border-color: $color-mid;
}


// BUG The stuff below is just for testing purposes. Please delete as soon as it becomes unnecessary
$color-test: #C13427;

.frf-temp-navbar {
    background-color: $color-test;
};